// colors
$primary-color: #4DA4DA;
$secondary-color: #ECECEC;
$secondary-color-hover: #cccccc;

$info-color: #FFEEBF;
$text-color: #474747;

$table-border-color: #D0D0D0;
$table-cell-background: #F6F6F6;
